{{> header}}
<div class="homepage-main main">
  <div class="feed">
    <div class="challenge-page-header">
      <a href="/"><h1 class="challenge-page-title challenge-title">{{title}}</h1></a>
      <h3 class="challenge-duration"><span class="challenge-length">{{ending_date}} left</span></h3>
    </div>
    {{#each posts as |post|}}
      <div class="post">
            <h1 class="post-username"><i class="fas fa-user-circle small-profile profile"></i> {{post.user.username}}</h1>
            <p class="challenge-desc">{{post.text}}</p>
            <p class="time-posted">{{post.date_created}}</p>
        </div>
    {{/each}}
  </div>
  <aside>
    <h2>Users Joined</h2>
    <ul class="challenge-list">
      {{#each users as |user|}}
        <li>{{user.username}}</li>
      {{/each}}
    </ul>
    <p class="tinytext copyright">&copy; 2022 Pod 1</p>
  </aside>
</div>

{{!-- <script src="/js/joinChallenge.js"></script> --}}