{{> header}}
<div class="homepage-main main">
  <div class="feed">
    <div class="homepage-navbar">
      <a href="/"><h1 class="is-active challenge-title">{{challenge.title}}</h1></a>
    </div>
    {{#each posts as |post|}}
      <div class="post">
           <a href="/profile/{{user.id}}"><h1 class="post-username"><i class="fas fa-user-circle small-profile profile"></i> {{user.username}}</h1></a> 
            <p class="challenge-desc">
                {{{post.text}}}
                Post content
            </p>
            <p class="time-posted">
                {{post.date_created}}
                5 seconds ago
            </p>
        </div>
    {{/each}}
  </div>
<aside>
    <h2>Users Joined</h2>
    <ul class="challenge-list">
      {{#each users as |user|}}
        <a href="/profile/{{user.id}}"><li>{{user.username}}</li></a>
      {{/each}}
    </ul>
    <p class="tinytext copyright">&copy; 2022 Pod 1</p>
  </aside>
</div>
{{!-- <script src="/js/joinChallenge.js"></script> --}}