{{> header}}
<div class="homepage-main main">
  <div class="feed">
    {{#each challenges as |challenge|}}
    <div class="post">
      <div class="challenge-header">
        <h1 class="challenge-title">{{challenge.title}}</h1>
        <h3 class="challenge-duration">Ends: {{challenge.ending_date}}</h3>
      </div>
      <p class="challenge-desc">{{challenge.description}}</p>
      <button class="join-in-btn" data-id="{{challenge.id}}">Join</button>
    </div>
    {{/each}}
  </div>
  <aside>
    <h2>Your Challenges</h2>
    <ul class="challenge-list">
      {{#each userChallenges as |userChallenge|}}
        <li>{{userChallenge.title}}</li>
      {{/each}}
    </ul>
    <p class="tinytext">&copy; 2022 Pod 1</p>
  </aside>
</div>

<script src="/js/joinChallenge.js"></script>