{{> header}}
<div class="homepage-main main">
  <div class="feed">
    <div class="homepage-navbar">
      <a href="/"><h1>Challenges</h1></a>
      <a href="/feed"><h1 class="is-active">Posts</h1></a>
    </div>
    {{#each posts as |post|}}
        <div class="post">
            <a href="/profile/{{user.id}}"><h1 class="post-username"><i class="fas fa-user-circle small-profile profile"></i> {{user.username}}</h1></a>
            <a href="/challenge/{{challenge.id}}"><h1 class="post-title">{{challenge.title}}</h1></a>
            <p class="challenge-desc">{{{text}}}</p>
            <p class="time-posted">{{date_created}}</p>
        </div>
        {{/each}}
  </div>
  <aside>
    <h2>Your Challenges</h2>
    <ul class="challenge-list">
      {{#each userChallenges as |userChallenge|}}
        <a href="/challenge/{{userChallenge.id}}"><li>{{userChallenge.title}}
      {{/each}}
    </ul>
    <p class="tinytext copyright">&copy; 2022 Pod 1</p>
  </aside>
</div>