{{> header}}
<div class="homepage-main main">
  <div class="feed">
    <div class="homepage-navbar">
      <a href="/"><h1 class="is-active">Challenges</h1></a>
      <a href="/feed"><h1>Posts</h1></a>
    </div>
    {{#each challenges as |challenge|}}
    <div class="post homepage-post">
      <div class="challenge-header">
      <a href="/challenge/{{challenge.id}}">  <h1 class="challenge-title">{{challenge.title}}</h1></a>
        <h3 class="challenge-duration"><span class="challenge-length">{{challenge.ending_date}} left</span></h3>
      </div>
      <p class="challenge-desc">{{challenge.description}}</p>
      <button class="join-in-btn" data-id="{{challenge.id}}">Join</button>
    </div>
    {{/each}}
  </div>
  <aside>
    <h2>Your Challenges</h2>
    <ul class="challenge-list">
      {{#each userChallenges as |userChallenge|}}
        <a href="/challenge/{{userChallenge.id}}"><li>{{userChallenge.title}}</li></a>
      {{/each}}
    </ul>
    <p class="tinytext copyright">&copy; 2022 Pod 1</p>
  </aside>
</div>

<script src="/js/joinChallenge.js"></script>