{{> header}}
<div class="main profile-main">
    <div class="profile-header">
        <i class="fas fa-user-circle large-profile profile"></i>
        <h3 class="username">{{user.username}}</h3>
    </div>
    <div class="profile-feed feed">
        {{#each posts as |post|}}
        <div class="post">
            <h1 class="post-username"><i class="fas fa-user-circle small-profile profile"></i> {{user.username}}</h1>
            <h1 class="post-title">{{challenge.title}}</h1>
            <p class="challenge-desc">{{text}}</p>
            <p class="time-posted">{{date_created}}</p>
        </div>
        {{/each}}
    </div>
  </div>
